//misc variables

$mainBlue: #425c99;
$mainOrange: #d59541;
$titleColor: #4169E1;
$subtitleColor: #E0FFFF;
$mainColor: #0096d7;
$horizontalColor: rgba(102, 102, 102, 0.34);

// navigation
$boxShadow: 0 2px 8px rgba(0,0,0,.375);
$borderTop: 3px solid rgba(0, 150, 215, 0.7);

//body
$bodyFontFamily: 'Source Sans Pro', sans-serif;

// footer
$footerBackground: rgba(239, 237, 234, 1);
