<div class="card">
  <h5 class="card-header">{{ pageTitle }}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ pageSubtitle }}</h5>
    <p class="card-text">
      The Offer will be made by Organisation. A copy of the prospectus in relation to the Organisation Offer may be obtained after it has been lodged with the ASIC. Anyone who wants to acquire shares in the organisation will need to carefully consider the prospectus and then complete an application form that will be in or will accompany the prospectus. Pre-registrants are not obliged to apply for shares. This document does not constitute an offer to sell, or a solicitation of an offer to buy securities in the United States. The shares referred to in this document have not been, and will not be, registered under the U.S. Securities Act of 1933 (the "U.S. Securities Act") or under the securities laws of any state or other jurisdiction of the United States and may not be offered or sold in the United States absent registration under the U.S. Securities Act or an exemption from registration requirements.<br><br>

      Persons who are clients of the Organisation and its related subsidiaries and divisions, including database members of the Wealthadviser Financial Education library as at (Date Applicable), who are permanent residents of Australia, over the age of 18 and are not in the United States or acting on behalf of a person in the United States.
    </p>
    <a href="#" class="btn" [routerLink]="['/media']">Media <i class="fas fa-info-circle"></i></a>
  </div>
</div>

