<div class="card">
  <h5 class="card-header">{{ pageTitle }}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ pageSubtitle }}</h5>
    <p class="card-text">
      The Organisation expects to lodge a Prospectus with ASIC in relation to the Offer. You will only be able to apply for shares after the Offer opens, using the application form that will be in, or with, the Prospectus.<br><br>

      If you pre-register, we will send you a link to the electronic version of the Prospectus when it becomes available. We will also send you a link to the Prospectus and a personalised online application form when the Offer opens (or a paper copy of the Prospectus along with a personalised application form if you request it).
    </p>
    <a href="#" class="btn" [routerLink]="['/media']">Media <i class="fas fa-info-circle"></i></a>
  </div>
</div>
