<div class="card">
  <h5 class="card-header">{{ pageTitle }}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ pageSubtitle }}</h5>
    <p class="card-text">
      The Offer will be open to clients of the Organisation and its operating subsidiaries. Subject to details in the Prospectus if you are a client of the Organisation and you pre-register you can be allocated more shares than if you don't pre-register (if you decide to apply for shares when the Offer opens).<br><br>

      Organisation's clients should note that the Organisation board has resolved that the Company and its advisers are prohibited from providing either general or personal advice with respect to the Offer, as it may give rise to a conflict of interest.<br><br>

      Organisation's clients are advised that they should contact a suitably qualified adviser should they require advice regarding pre-registration, the Offer or (when it is available) the Prospectus.
    </p>
    <a href="#" class="btn" [routerLink]="['/media']">Media <i class="fas fa-info-circle"></i></a>
  </div>
</div>

