<go-header></go-header>

<main role="main" class="container">

  <div class="card" >
    <div class="card-body">
      <h1 class="card-title">{{ pageTitle }}</h1>

      <go-definition></go-definition>
      <go-pre-registration></go-pre-registration>
      <go-entitlement></go-entitlement>
      <go-prospectus></go-prospectus>
      <go-shares></go-shares>
      <go-cost></go-cost>
      <go-payment></go-payment>
      <go-participation></go-participation>
      <go-investment></go-investment>
      <go-legality></go-legality>

    </div>
  </div>

</main>

<go-footer></go-footer>
