<div class="card">
  <h5 class="card-header">{{ pageTitle }}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ pageSubtitle }}</h5>
    <p class="card-text">
      After the Prospectus is lodged with ASIC, you will be able to view the Prospectus online at www.website.com.au.<br><br>

      If you pre-register to receive an online version of the Prospectus, you will be sent a link to the Prospectus when it is lodged with ASIC, and will be sent a link to the Prospectus and a link to the online application form when the Offer opens.<br><br>

      If you pre-register to receive a paper copy of the Prospectus, you will be sent the Prospectus and an application form once the Offer opens. Please allow three to five business days for mailing.<br><br>

      Please contact the Organisation's Offer Information Line on 'telephone#' with questions of Pre-registration.
    </p>
    <a href="#" class="btn" [routerLink]="['/media']">Media <i class="fas fa-info-circle"></i></a>
  </div>
</div>
