<div class="card">
  <h5 class="card-header">{{ pageTitle }}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ pageSubtitle }}</h5>
    <p class="card-text">
      If you pre-register you can be allocated more shares than if you don't pre-register (if you decide to apply for shares when the Offer opens).<br><br>

      Pre-registration is the first stage of the Organisation Offer and provides you with an opportunity to reserve a copy of the Prospectus.<br><br>

      Pre-registering for a Prospectus does not commit you to buying shares - it simply lets us know that you are interested in reading the Prospectus when it becomes available.
    </p>
    <a href="#" class="btn" [routerLink]="['/media']">Media <i class="fas fa-info-circle"></i></a>
  </div>
</div>
