<div class="card">
  <h5 class="card-header">{{ pageTitle }}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ pageSubtitle }}</h5>
    <p class="card-text">
      Organisation is the parent company of a group of wholly-owned subsidiaries (and divisions) that operate under the banner of Spring Financial Group.<br><br>

      Organisation's primary operating subsidiaries and divisions include Group Pty. Ltd.; Equities (division); Realty Pty Ltd; Accounting Pty Ltd;  Finance Pty Ltd; and Wealthadviser Financial Education (division).<br><br>

      Through its operating subsidiaries and divisions Organisation provides a range of products and services that include financial planning and investment advice; insurance and superannuation advice and products; finance advice and products; tax &#38; accounting services; and financial education publications.
    </p>
    <a href="#" class="btn" [routerLink]="['/media']">Media <i class="fas fa-info-circle"></i></a>
  </div>
</div>
