<div class="card">
  <h5 class="card-header">{{ pageTitle }}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ pageSubtitle }}</h5>
    <p class="card-text">
      If you are unclear in relation to any matter relating to the Offer, or are uncertain as to whether shares are a suitable investment for you, you should seek professional guidance from a broker or financial adviser, solicitor, accountant, tax adviser, or other independent and qualified professional adviser before deciding whether to invest.<br><br>

      A copy of that Prospectus may be obtained after it has been lodged with ASIC by returning to this website. Anyone who wants to acquire shares in the Organisation will need to carefully consider the Prospectus and complete an application form that will be in, or will accompany, the Prospectus.
    </p>
    <a href="#" class="btn" [routerLink]="['/media']">Media <i class="fas fa-info-circle"></i></a>
  </div>
</div>

