<div class="card">
  <h5 class="card-header">{{ pageTitle }}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ pageSubtitle }}</h5>
    <div>
      <blockquote class="blockquote mb-0">
        <p>
          You do not need to pre-register in order to participate in the Offer.<br><br>
          However, if you pre-register:
        </p>
        <footer class="blockquote-footer">
          <cite title="Source Title">
            you will receive a link to the electronic version of the Prospectus when it becomes available, and a link to the Prospectus and a personalised online application form when the Offer opens (or a paper copy of the Prospectus along with a personalised application form if you request it);
          </cite><br><br>
        </footer>
        <footer class="blockquote-footer">
          <cite title="Source Title">
            you will be notified of key dates during the Offer; and
          </cite><br><br>
        </footer>
        <footer class="blockquote-footer">
          <cite title="Source Title">
            if you apply for shares, you can be allocated more shares than if you don't pre-register.
          </cite><br><br>
        </footer>
      </blockquote>
    </div>
    <a href="#" class="btn" [routerLink]="['/media']">Media <i class="fas fa-info-circle"></i></a>
  </div>
</div>
